html, body {
  padding: 0;
  margin: 0;
}

.clearfix {
  overflow:  auto;
}

.container1 {
  background-image: url(../img/bg.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  box-shadow:0px -5px 3px 0px #2d1618 inset;
}

.pink {
  background-color: rgba(228, 113, 122, .8);
  width: 100%;
  height: 100%;
}

.container1 .center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
}

.center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: black;
}

.container2 {
  width: 100%;
  background-size: cover;
  background-position: center center;
  margin-top: 70px;
  text-align: center;
}
  
h1 {
  margin-top: 0;
}

h3 h6 {
  font-color: black;
}

h5  {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer h6 {
  background-color: black;
  color: white;
  padding: 5px;
  padding-left: 250px;
  font-size: 5px;
}

 i {
  border-radius: 120%;
  margin: 0 auto;
  padding-top: 50px;
  height: 150px;
  width: 150px;
  border-width: 1px;
  background-color: #EEEEEE;
  height: 100px;
  vertical-align: middle;
}

.money-section {
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  vertical-align: middle;
  }

.left-col {
    float: left;
    width:25%;
    margin-left: auto;
    margin-right: auto;
}

.center-col {
    float: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.right-col {
    float: left;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.circles .money {
  opacity: 0;
}

.circles:hover .money {
  opacity: 1;
}


.footer {
  display: block;
  width: 100%;
  height: 25px;
  background-color: black;
  color: white;
  font-size: 10px;
}

.footer, .push {
  clear: both;
}